*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    scroll-behavior: smooth;
    font-family: "Century Gothic", sans-serif;
}
#global{
    min-height: 100%;
}
#webBody{
    overflow: auto;
    padding-bottom: 100px;
}
#footer{
    background-color: #2b2d42;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer li{
    list-style: none;
    margin: 10% 5%;
}
#footer a{
    text-decoration: none;
    color: #f7ede2;
    font-size: 30px;
    transition: all ease-in-out 250ms;
}
#footer a:hover{
    opacity: 0.2;
}
.container{
    height: 100vh;
}
.container1{
    background-color: #f7ede2;
}
.container2{
    background-color: #f7ede2;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #2b2d42;
}
.logo{
    color: #f7ede2;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.navigation{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.navigation li{
    list-style: none;
}
.navigation a{
    color: #f7ede2;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:14px;
    transition: all ease-in-out 250ms;
}
.navigation a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #f7ede2;
    margin: auto;
    display: block;
}
.navigation a:hover::after{
    width: 100%;
    transition: width 250ms linear;
}
.welcome{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 27.5%;
    text-align: center;
}
.welcome h1{
    color:#2b2d42;
    text-transform: uppercase;
    font-size: 47px;
}
.welcome a{
    text-decoration: none;
    color:#2b2d42;
    border: 1px solid #2b2d42;;
    padding: 10px 25px;
    text-transform: uppercase;
    margin-top: 20px;
    display: inline-block;
    transition: all ease-in-out 250ms;
}
.welcome a:hover{
    background-color: #2b2d42;
    color: #f7ede2;
}