*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
body{
    scroll-behavior: smooth;
    font-family: "Century Gothic", sans-serif;
}
.container{
    height: 100vh;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}

button{
    margin-top: 100px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all ease-in-out 250ms;
}
button:hover{
    font-size: 20px;
    font-family: "Century Gothic", sans-serif;
    padding: 10px;
    background-color: black;
    color: white;
}